.myaccount {
  padding: 10vh 0 0vh 0;
  display: flex;
}
.myaccount .sideMenu {
  height: calc(100vh - 10.3vh);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: var(--blur-2);
  background: var(--funds-03);
  border-right: var(--border-03);
  transition: var(--anima-01);
}
.menu-ctt {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--text-01);
  display: flex;
  align-items: center;
  gap: var(--gap-02);
  transition: var(--anima-01);
}
.menu-ctt:hover {
  color: var(--brand-01);
  background: var(--brand-05);
}
.menu-ctt:hover:last-child {
  color: var(--danger-01);
  background: var(--danger-02);
}
.menu-ctt ion-icon {
  font-size: 1.15rem;
}
.menu-ctt.active {
  color: var(--brand-01);
  background: var(--brand-05);
}
.myaccount .accountContent {
  padding: 1rem;
  flex: 4;
  color: var(--text-01);
  background: radial-gradient(circle at top, var(--brand-05), transparent 60%),
    var(--bg-02);
}
.align-center-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center-img img {
  max-width: 100px;
  border-radius: 50%;
  border: 4px solid var(--brand-04);
}
.accountContent h1 {
  margin-top: 1rem;
}
.text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-04);
}
.text-top p {
  margin-top: -1rem;
}
